.islandora-file-storage-admin .form-item {
    display: inline;
}

.islandora-file-storage-admin .form-text {
    max-width: 25%;
}

.islandora-file-storage-admin .islandora-file-storage-delete {
    display: block;
}
